body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-image: url('../img/Burger%20background.jpg');
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
}

